body{
    background-color: #333333;
    perspective: 700px;
}

.box-lg{
    width: 200px;
    height: 200px;
    border: 10px solid white;
    margin: 200px auto;
    /* transform: rotateY(45deg); */
    animation: rot1 10s infinite;
    perspective: 300px;
}

.box-sm{
    width: 190px;
    height: 190px;
    background-color: rgb(255, 255, 255);
    border: #333 5px solid;
    animation: rot2 10s infinite;
}

@keyframes rot1 {
    from{transform: rotateY(0);}
    to{transform: rotateY(360deg);}
}

@keyframes rot2 {
    from{transform: rotateY(0);}
    to{transform: rotateY(-720deg);}
}
